$swWhite: #f4f4f4;
$swGrey:#6c767e;
$swDarkGrey: #566167;
$swBGBlue: #edf1f3;



$swPeach: #f8b195;
$swfire: #f67280;
$swPlum: #c06c84;
$swDeepPlum: #6c5b7b;
$swDarkNight: #355c7d;
$swOvercast: #9099a2;


//font-family: 'Amatica SC', cursive;
//font-family: 'Raleway', sans-serif;

